body {
  background-color: green;
  font-family: Verdana, sans-serif;
}

p {
  font-size: 42px;
  font-family: Arial, sans-sefir;
  color: white;
  text-align: center;
}

p2 {
  font-size: 45px;
  font-family: Arial, sans-sefir;
  color: dark green;
  text-align: center;
}
h1 {
  text-align: center;
}
.image-float {
Float: right;
}